.App {
  padding: 30px;
}
.container {
  margin:0 auto;
  margin-top: -17rem;
  margin-bottom: 5rem;
  height: 125px;
  width: 960px;
  position: relative;
  display: flex;
  border: 1px solid gray;
}
.item {
  flex: 1;
  height: 100%; 
  border: 1px solid rgb(187, 187, 187);
}

.rnd {
  border:3px black solid;
  border-radius: 0px;
  background: linear-gradient(145deg, #48555c, #3c474d);
  box-shadow:  6px 6px 33px #343e43, 
               -6px -6px 33px #526069;
               
}
.rnd:hover{
  border-radius: 0px;
  background: linear-gradient(15deg, #434d52, #20282c);
  box-shadow:  6px 6px 33px #343e43, 
               -6px -6px 33px #526069;
}
label{
  font-size: 1rem;
  padding-left: 3px;
  padding-right: 3px;
}